.content-page {
  padding: 120px 0;

  h1 {
    font-size: 46px;
  }

  .list-header {
    text-align: center;

    a {
      padding: 10px 25px;
      margin-top: 10px;
    }
  }

  .instructions {
    margin: 40px 0;

    ul {
      list-style-type: disc;
    }

    a.login {
      margin-top: 30px;
      padding: 24px;
      font-size: 18px;
    }
  }

  .markdown {
    ul {
      list-style: initial;

      li {
        font-size: 18px;
      }
    }
  }
}
